<div class="container">
  <div class="meeting-info">
    <% @meetings.each do |meeting|  %>
      <h3><%= meeting.skill.name %> with <%= meeting.teacher.first_name %></h3>
      <%= meeting.happen_at %>
      <p><strong>Message:</strong> <%= meeting.message %></p>
    <% end %>
  </div>
</div>
