.contact-teacher-btn {
  padding: 20px 0;
}

.reviews {
  background: #f2f2f2;
  padding-bottom: 100px;
}

.skill_back {
  background: #C3D898;
  background-size: auto;
  font-weight: normal;
  color: white;
  padding: 7px;
}
