.teacher {
  margin: 20px 0;
  padding: 5px;
  position: relative;
  height: 150px;
  color: black;
  .profile-teacher {
    transition: 0.2s;
  }
  .profile-teacher:hover {
    transform: scale(1.05);
  }
  a {
    text-decoration: none;
  }
  .teacher-info {
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .name {
    font-weight: bold;
    font-size: 18px;
  }
  .address {
    font-weight: lighter;
  }
}
