.teacher {
  margin: 20px 0;
  box-shadow: 0 0 5px grey;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  height: 200px;
  color: black;
  &:hover {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
    color: black;
  }
  .name {
    position: absolute;
    top: 5px;
    right: 5px;
    font-family: 'Poppins', sans-serif;
  }
  .profile-teacher {
    position: absolute;
    top: 5px;
    left: 10px;
  }
  .address {
    position: absolute;
    bottom: 15px;
    left: 10px;
    &:hover {
      text-decoration: none;
    }
  }
  .skill {
    position: absolute;
    left: 40%;
    bottom: 40%;
  }
}
