.index-search-form {
  padding: 100px 0;
  background:  linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url("https://images.pexels.com/photos/29066/pexels-photo-29066.jpg?w=940&h=650&auto=compress&cs=tinysrgb");
  background-size: cover;
  background-position: center center;
  color: white;
  h2 {
    font-weight: bold;
    font-family: 'Poppins';
  }
}

.skill {
  padding: 7px 0;
}
.teacher {
  margin: 20px 0;
  padding: 5px;
  position: relative;
  height: 150px;
  color: black;
  .profile-teacher {
    transition: 0.2s;
  }
  .profile-teacher:hover {
    transform: scale(1.05);
  }
  a {
    text-decoration: none;
  }
  .teacher-info {
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .name {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #000;
  }
  .name a {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #000;
  }
  .address {
    font-weight: lighter;
  }
}
