<div class="footer-home text-center">
  <p>App made with 💖 by Adalberto Gonzalez, Denis Giraud, Gilles Aroutzet & Mendy Dihars</p>
  <p>Drawings made by Tiphaine Dosta</p>
  <p>100% Le Wagon 🚃 Approved</p>
</div>
