@import "show";

.meeting-h2 {
  font-family: 'Poppins', sans-serif;
}
.meeting-info {
  border-bottom: 5px solid #75ab00;
  border-radius: 0 0 5px 5px;
  padding: 0 15px;
  position: relative;
  height: 170px;
}
.meeting-progress {
  border-bottom: 5px solid #b2b800;
  border-radius: 0 0 5px 5px;
  padding: 0 15px;
  position: relative;
  height: 170px;

}
.meeting-title {
  font-size: 18px;
  position: absolute;
  left: 5;
  bottom: -15px;
  background: white;
  padding: 3px;
}
.wrap-message {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  .meeting-message {
    border-right: 2px solid grey;
    font-family: "Raleway";
    font-size: 14px;
    padding: 0 15px;
    width: 50%;
  }
  .meeting-approved-message {
    font-family: "Raleway";
    font-size: 14px;
    padding: 0 15px;
    width: 50%;
  }
}
.message-title {
  font-size: 12px;
  font-weight: bold;
}
.meeting-name {
  position: absolute;
  top: 0px;
  left: 10px;
  font-weight: bold;
  a {
    color: #EEA008;
  }
  a:hover {
    text-decoration: none;
    color: #EEA008;
  }
}
.meeting-created-date {
  position: absolute;
  top: 0px;
  right: 5px;
  font-style: italic;
}
.meeting-date {
  position: absolute;
  left: 10px;
  top: 20px;
  padding: 5px;
  font-size: 14px;
  span {
    font-size: 12px;
    font-style: italic;
  }
}
.status {
  position: absolute;
  bottom: 5px;
  right: 10px;
}
.approved-btn {
  position: absolute;
  bottom: 5px;
  right: 10px;
}
.rejected-btn {
  position: absolute;
  bottom: 0px;
  right: 77px;
}
.status-approved {
  color: $brand-success;
  font-size: 16px;
}
.status-rejected {
  color: $brand-danger;
  font-size: 16px;
}
.status-pending {
  color: $brand-info;
  font-size: 16px;
}
.italized-email {
  font-style: italic;
  font-size: 12px;
  font-weight: none;
}

.contacted-by-bg {
  background: linear-gradient(180deg, #BBD8B3, white);
  padding: 15px;
  border-radius: 5px;
}
.contacted-bg {
  background: linear-gradient(180deg, #D4E09B, white);
  padding: 15px;
  border-radius: 5px;
}
