.wrapper-meeting-card {
  margin: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  .meeting-h2 {
    font-size: 18px;
  }
  .meeting-card {
    border-top: 5px solid $brand_primary;
    border-bottom: 5px solid $brand_primary;
    margin: 0px 20px;
    padding: 20px;
    border-radius: 5px;
  }
  a:hover {
    text-decoration: none;
  }
}
