<div class="banner">
  <div class="container">
    <div class="banner-content">
      <div id="schema">
        <%= image_tag "schema.png", width: "600px" %>
      </div>
      <h1>Agora</h1>
      <p>Learn by sharing !</p>
      <%= render 'shared/search_form' %>
    </div>
  </div>
</div>

