<% content_for :meta_title, "#{@teacher.first_name}'s bio" %>

<div class="wrapper-show">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8">

        <div class="head-show marged">
          <%= cl_image_tag dynamic_avatar(@teacher), class: "avatar-x-large" %>
          <div class="info-show">
            <h4>Age</h4>
            <p><%= @teacher.age %> ans</p>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
