// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";
@import url('https://fonts.googleapis.com/css?family=Poppins');

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";
@import "select2-bootstrap3-css";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "teachers/index";
@import "meetings/index";

* {
  margin: 0;
}

body, html {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  /* Negative indent footer by its height */
  margin: -70px auto -70px;
  /* Pad bottom by footer height */
  padding: 0 0 70px;
}
