<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      body {
        font-family: 'helvetica';
      }
    </style>
  </head>

  <body>
    <h2> Agora - Learn by Sharing !</h2>
    <%= yield %>
    <p>The Agora Learn Team</p>
  </body>
</html>
